<div class="content">
    <div class="container-explicacion">
        <h1>Como comprar</h1>
        <p>Para comprar en Colombina, siga las instrucciones a continuación:</p>
        <p class="parrafo-explicacion">Una vez que en la sección de "Carrito" presionamos "Proceder al pago", podremos ver un extenso formulario el cual consta de tres secciones, las cuales son: "Envío", "Pago" y "Revisión".</p>
        <h2>1.Envío</h2>
        <img src="foto-celu1.png" alt="foto-tutorial1">
        <img src="foto-celu2.png" alt="foto-tutorial2">
        <p class="parrafo-explicacion">En la primera sección "Envío", veremos campos que deben ser completados para poder realizar la respectiva facturación y saber los datos para el envio y/o retiro del pedido del ciente.</p>
        <p class="parrafo-explicacion">Deberá completar los datos con su mail, código postal, nombre completo, número de teléfono, DNI, luego deberá seleccionar la forma de envío y aquí nos detendremos un segundo:</p>
        <p class="parrafo-explicacion">En "Opciones de envío" tenemos tres opciones:</p>
        <img src="foto-celu3.png" alt="foto-tutorial2">
        <p class="parrafo-explicacion">Si seleccionamos "Envío a domicilio", debajo saldrá un cartel que indica que se usarán los datos de la sección de  "Domicilio del destinatario" para el envío:</p>
        <img src="foto-celu4.png" alt="foto-tutorial2">
        <p class="parrafo-explicacion">Si seleccionamos "Envío a sucursal Correo Argentino", saldrá debajo un cartel el cual se deberá llenar con la dirección de la sucursal de Correo Argentino a donde se quiere enviar el paquete:</p>
        <img src="foto-celu5.png" alt="foto-tutorial2">
        <p class="parrafo-explicacion">Luego de completar estos datos, se deberá seguir con los datos restantes que son los de "Domicilio del destinatario" y apretamos el botón de "Siguiente".</p>
        <h2>2.Pago</h2>
        <p class="parrafo-explicacion">En la sección de "Pago", deberemos elegir nuestro método para pagar:</p>
        <img src="foto-celu6.png" alt="foto-tutorial2">
        <p class="parrafo-explicacion">Entre los métodos de pago contamos con "Transferencia", "Tarjeta de Crédito" y "Tarjeta de Débito":</p>
        <img src="foto-celu7.png" alt="foto-tutorial2">
        <p class="parrafo-explicacion">Todas estas opciones de pago se realizan mediante "MercadoPago" al final de todos estos pasos. <br> Si seleccionamos "Transferencia", al finalizar recibiran un mail donde recibirán el alías al que deben transferir el dinero y mas información. <br> La opción de la "Tarjeta de Crédito", nos mostrará un nuevo cartel debajo, donde podremos seleccionar entre 1 cuota o "3 Cuotas Simples":</p>
        <img src="foto-celu8.png" alt="foto-tutorial2">
        <p>Por último contamos con la opción de la "Tarjeta de Débito". Luego de haber completado de esta información, podemos  continuar con la compra apretando en "Siguiente".</p>
        <h2>3.Revisión</h2>
        <p>Esta es la sección final de la compra y donde corroboraremos que los datos ingresados sean los correctos, y si algo no está bien, podemos regresar con el botón "Volver" :</p>
        <img src="foto-celu9.png" alt="foto-tutorial2">
        <img src="foto-celu10.png" alt="foto-tutorial2">
        <p>Si todo está bien, pulsaremos "Finalizar" y dependiendo que opción de pago hayamos elegido, se nos abrirá una ventana de "MercadoPago" (si elegimos cuotas o débito) o veremos directamente un cartel de que hemos recibido un mail (opción transferencia).</p>
        <h2>Pagando con débito</h2>
        <p>Si hemos elegido la opción de "pagar con débito", se nos abrirá la siguiente ventana de "MercadoPago" con la opcíon de "Tarjeta de débito", la seleccionamos y seguimos los pasos que nos indica "MercadoPago".</p>
        <img src="foto-celu11.png" alt="foto-tutorial2">
        <h2>Pagando en cuotas</h2>
        <p>Si hemos elegido la opción de pagar con tarjeta de crédito y sus respectivas cuotas (1 o 3 simples) , se nos abrirá la ventana de "MercadoPago" con la opción de "Tarjeta de crédito" y segun que hayamos elegido antes, será el número de cuotas (en mi caso son en "3 simples"),  la seleccionamos y seguimos los pasos que nos indica "MercadoPago".</p>
        <img src="foto-celu12.png" alt="foto-tutorial2">
        <h2>Transferencia</h2>
        <p>Si usted eligió pagar con "Transferencia", al momento de finalizar la compra, le saldrá un cartel que da por finalizado el proceso, y le indica que recibirá un mail donde está la información necesaria para realizar la transferencia y tendrá 24hs para efectuar la transferencia. Pasadas las 24hs, si el pago se ha efectuado, recibirá un mail diciendo que su pago ha sido aprobado o si no ha sido aprobado, denegado.</p>
    </div>
</div>
<app-footer></app-footer>
<router-outlet></router-outlet>