<div class="content">
    <div class="cards-styles">
    <mat-card class="example-card" appearance="outlined"  *ngFor="let producto of receivedDataArray | paginate: { itemsPerPage: 12, currentPage: page }">
        <a [routerLink]="['/producto', producto.id]" routerLinkActive="true" ariaCurrentWhenActive="page">
        <img mat-card-image src={{producto.imagen}} alt={{producto.nombre}}>
        <mat-card-content>
            <div class="datos-productos">
                <h1>{{producto.nombre}}</h1>
                <h2>${{producto.precio}}</h2> 
                <!--<h2>Stock: {{producto.stock}}</h2> 
                <p>{{producto.descripcion}}</p>-->
            </div>
        </mat-card-content>
    </a>
    </mat-card>
    </div>
    <div class="pagination-styles">
    <pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
    </div>
</div>


<router-outlet></router-outlet>
