

    <footer>
        <div class="footer-content">
            <div class="footer-section">
                <h3>Sobre nosotros</h3>
                <p>We are a leading company in our industry, committed to providing top-notch services and products to our clients worldwide.</p>
            </div>
            <div class="footer-section">
                <h3>Contáctanos</h3>
                <p>Email: inf.com</p>
                <p>Phone: +1 (555) 123-4567</p>
                <div class="social-media">
                    <a href="https://www.facebook.com/p/Almac%C3%A9n-Colombina-100063862400365/?locale=es_LA&_rdr" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.instagram.com/colombina.almacen/" target="_blank"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="footer-section">
                <h3>Visítanos</h3>
                <div class="map-container">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3396.651993431004!2d-60.70775572361649!3d-31.643377507262784!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95b5a9bb7244f321%3A0xaa269167a3cfbbc4!2sIrigoyen%20Freyre%202540%2C%20S3000%20BPH%2C%20Santa%20Fe!5e0!3m2!1ses!2sar!4v1739791653946!5m2!1ses!2sar" width="100%" height="100%" frameborder="0" style="border:0"></iframe>
                </div>
            </div>
            <div class="footer-section newsletter">
                <h3>Newsletter</h3>
                <p>¡Suscribete a nuestro newsletter para mantenerte al tanto de las novedades!.</p>
                <input type="email" placeholder="Ingrese su mail" required>
                <button type="submit">Suscribirse</button>
            </div>
        </div>
        <div style="text-align: center;">
            <p style="margin-bottom: 0px;">&copy; <span id="year"></span> Colombina. All rights reserved.</p>
        </div>
    </footer>
