

    <footer>
        <div class="footer-content">
            <div class="footer-section">
                <h3>Tarjetas que aceptamos</h3>
                <div class="tarjetas" style="flex-direction: column; align-items: start;" >
                    <div >
                        <img src="mastercard.jpg" alt="" style="width: 50px; height: 30px; margin-left: 20px; margin-bottom: 20px; margin-top: 10px;" >
                        <img src="VISA_Logo.svg" alt="" style="width: 50px; ; height: 30px; margin-left: 20px; margin-bottom: 20px; margin-top: 10px;" >
                        <img src="Maestro_Logo.svg" alt="" style="width: 50px; height: 30px; margin-left: 20px; margin-bottom: 20px; margin-top: 10px;" >
                    </div>
                </div>
            </div>
            <div class="footer-section">
                <h3>Contáctanos</h3>
                <div class="social-media">
                    <p>Click abajo para ir a las redes</p>
                    <a href="https://www.facebook.com/AlmacenColombina" target="_blank">Faceboook <i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.instagram.com/colombina.almacen/" target="_blank">Instagram <i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div style="text-align: center;">
            <p style="margin-bottom: 0px;">&copy; <span id="year"></span> Colombina. All rights reserved.</p>
        </div>
    </footer>
