<div class="content">
    <div class="matform-container">
    <mat-form-field class="example-form-field">
        <mat-label>Busqueda por nombre</mat-label>
        <input matInput type="text"  [(ngModel)]="valuee$"  (input)="busqueda()" class="searchbar">
      </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label></mat-label>
        <mat-select  (selectionChange)="filtrarProductos($event.value)" [(ngModel)]="filtroValor"  name="filtro">
          <mat-option *ngFor="let filtro of filtros" [value]="filtro">
            {{ filtro }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
      <div *ngIf="valuee$ != '' " class="contenedor-busqueda">
        <div class="cards-styles" >
        <mat-card class="example-card" appearance="outlined"  *ngFor="let producto of productosNombre | paginate: { itemsPerPage: 12, currentPage: page }">
            <a [routerLink]="['/producto', producto.id, producto.nombre]" routerLinkActive="true" ariaCurrentWhenActive="page">
            <img mat-card-image src={{producto.imagen}} alt={{producto.nombre}}>
            <mat-card-content>
                <div class="datos-productos">
                    <h1>{{producto.nombre}}</h1>
                    <h2>${{producto.precio}}</h2> 
                    <!--<h2>Stock: {{producto.stock}}</h2> 
                    <p>{{producto.descripcion}}</p>-->
                </div>
            </mat-card-content>
        </a>
        </mat-card>
    </div>
      </div>
      <div *ngIf="valuee$ == '' " class="contenedor-contenedores">
    <div class="cards-styles" *ngIf="filtroValor === 'Destacados'">
    <mat-card class="example-card" appearance="outlined"  *ngFor="let producto of receivedDataArray | paginate: { itemsPerPage: 12, currentPage: page }">
        <a [routerLink]="['/producto', producto.id, producto.nombre]" routerLinkActive="true" ariaCurrentWhenActive="page">
        <img mat-card-image src={{producto.imagen}} alt={{producto.nombre}}>
        <mat-card-content>
            <div class="datos-productos">
                <h1>{{producto.nombre}}</h1>
                <h2>${{producto.precio}}</h2> 
                <!--<h2>Stock: {{producto.stock}}</h2> 
                <p>{{producto.descripcion}}</p>-->
            </div>
        </mat-card-content>
    </a>
    </mat-card>
    </div>
            <div class="cards-styles" *ngIf="filtroValor === 'Precio menor a mayor'">
                <mat-card class="example-card" appearance="outlined"  *ngFor="let producto of filtroArrayPrecioMenorAMayor | paginate: { itemsPerPage: 12, currentPage: page }">
                    <a [routerLink]="['/producto', producto.id, producto.nombre] " routerLinkActive="true" ariaCurrentWhenActive="page">
                    <img mat-card-image src={{producto.imagen}} alt={{producto.nombre}}>
                    <mat-card-content>
                        <div class="datos-productos">
                            <h1>{{producto.nombre}}</h1>
                            <h2>${{producto.precio}}</h2> 
                            <!--<h2>Stock: {{producto.stock}}</h2> 
                            <p>{{producto.descripcion}}</p>-->
                        </div>
                    </mat-card-content>
                </a>
                </mat-card>
                </div>
                <div class="cards-styles" *ngIf="filtroValor === 'Precio mayor a menor'">
                    <mat-card class="example-card" appearance="outlined"  *ngFor="let producto of filtroArrayPrecioMayorAMenor | paginate: { itemsPerPage: 12, currentPage: page }">
                        <a [routerLink]="['/producto', producto.id, producto.nombre]" routerLinkActive="true" ariaCurrentWhenActive="page">
                        <img mat-card-image src={{producto.imagen}} alt={{producto.nombre}}>
                        <mat-card-content>
                            <div class="datos-productos">
                                <h1>{{producto.nombre}}</h1>
                                <h2>${{producto.precio}}</h2> 
                                <!--<h2>Stock: {{producto.stock}}</h2> 
                                <p>{{producto.descripcion}}</p>-->
                            </div>
                        </mat-card-content>
                    </a>
                    </mat-card>
                    </div>
                </div>
    <div class="pagination-styles">
    <pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
    </div>
</div>
<app-footer></app-footer>


<router-outlet></router-outlet>
