.sidenav-container {
    display: flex;
    position: inherit;
    z-index: 2;
    //height: 100vh; /* Asegura que ocupe toda la altura de la ventana */
  }

  .header-desktop{
    display: none;
  }
  
  .sidenav {
    width: 250px; /* Ajusta el ancho del sidenav */
  }

  .container-close{
    width: 95%;
    display: flex;
    justify-content: flex-end;
  }

  .contenedor-navbar{
    width: 100%;
    display: flex;
    gap: 70%;
    justify-content: center;
    align-items: center;
  }


  .link-carrito{
    cursor: pointer;
  }
  
  .mat-sidenav-content {
    width: 100%;
    padding: 0px;
  }
  
  @media (max-width: 600px) {
    .sidenav {
      width: 100%; /* El sidenav ocupa toda la pantalla en móviles */
    }
  
    .mat-sidenav-container {
      flex-direction: column;
    }
  }

  @media (min-width: 1024px) {

    .boton-side{
      display: none;
    }

    .header-desktop{
      display: flex;
    }

    .contenedor-navbar{
      gap: 35%;
    }

    .mdc-list-item.mdc-list-item--with-one-line {
      height: inherit;
    }

    a{
      height: auto;
      width:  auto;
      cursor: pointer;
      border-radius: 5px;
    }

    a:hover{
      background-color: #EC4732;
    }

    mat-menu{
      display: block !important;
      
    }

    button{
      font-family: "DM Serif Text", serif;
      font-weight: 400;
    }
    

  }
  
  