.sidenav-container {
    display: flex;
    position: inherit;
    z-index: 2;
    //height: 100vh; /* Asegura que ocupe toda la altura de la ventana */
  }
  
  .sidenav {
    width: 250px; /* Ajusta el ancho del sidenav */
  }

  .container-close{
    width: 95%;
    display: flex;
    justify-content: flex-end;
  }

  .contenedor-navbar{
    width: 100%;
    display: flex;
    gap: 70%;
    justify-content: center;
    align-items: center;
  }


  .link-carrito{
    cursor: pointer;
  }
  
  .mat-sidenav-content {
    width: 100%;
    padding: 0px;
  }
  
  @media (max-width: 600px) {
    .sidenav {
      width: 100%; /* El sidenav ocupa toda la pantalla en móviles */
    }
  
    .mat-sidenav-container {
      flex-direction: column;
    }
  }
  
  