<mat-sidenav-container class="sidenav-container">
  <!-- Sidenav para móvil y escritorio -->
  <mat-sidenav #sidenav mode="side" class="sidenav" [opened]="false">
    <div class="container-close">
      <mat-icon style="cursor: pointer;"(click)="sidenav.toggle()" style="margin-top: 15px;">close</mat-icon>
    </div>
    <mat-nav-list>
      <a mat-list-item routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page" (click)="sidenav.toggle()">Inicio</a>
      <mat-tree #tree [dataSource]="dataSource" [childrenAccessor]="childrenAccessor">
        <!-- This is the tree node template for leaf nodes -->
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding (click)="onNodeClick(node)">
          <!-- use a disabled button to provide padding for tree leaf -->
          <button mat-icon-button disabled></button>
          <a mat-list-item [routerLink]="['/content', node.name]" routerLinkActive="true" ariaCurrentWhenActive="page" (click)="sidenav.toggle()">{{node.name}}</a>
        </mat-tree-node>
        <!-- This is the tree node template for expandable nodes -->
        <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding matTreeNodeToggle
                       [cdkTreeNodeTypeaheadLabel]="node.name">
          <button mat-icon-button matTreeNodeToggle
                  [attr.aria-label]="'Toggle ' + node.name">
            <mat-icon class="mat-icon-rtl-mirror">
              {{tree.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
          </button>
          {{node.name}}
        </mat-tree-node>
      </mat-tree>
      
      <a mat-list-item routerLink="/somos" routerLinkActive="active" ariaCurrentWhenActive="page" (click)="sidenav.toggle()">¿Quiénes somos?</a>
      <a  mat-list-item routerLink="/contacto" routerLinkActive="active" ariaCurrentWhenActive="page" (click)="sidenav.toggle()">Contacto</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- Botón para abrir el sidenav en dispositivos móviles -->
    <mat-toolbar color="primary" style="padding: 0px !important; background-color: #F64A34;">
      <div class="contenedor-navbar">
        <div class="header-desktop">
          <a mat-list-item routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page" style="cursor: pointer; "><button mat-button>Inicio</button></a>
          <button mat-button [matMenuTriggerFor]="productos">Productos</button>
          <mat-menu #productos="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="ropa">Ropa</button>
            <button mat-menu-item [matMenuTriggerFor]="accesorios">Accesorios</button>
            <button mat-menu-item [matMenuTriggerFor]="sahumerios">Sahumerios</button>
            <button mat-menu-item [matMenuTriggerFor]="decoracion">Decoración</button>
            <button mat-menu-item >Ofertas</button>
          </mat-menu>
          <mat-menu #ropa="matMenu">
          <a a mat-list-item routerLink="/content/remeras" routerLinkActive="active" ariaCurrentWhenActive="page"><button mat-menu-item >Remeras</button></a>
          <a a mat-list-item routerLink="/content/blusas" routerLinkActive="active" ariaCurrentWhenActive="page"><button mat-menu-item >Blusas</button></a>
          <a a mat-list-item routerLink="/content/camisas" routerLinkActive="active" ariaCurrentWhenActive="page"><button mat-menu-item >Camisas</button></a>
          <a a mat-list-item routerLink="/content/camisolas" routerLinkActive="active" ariaCurrentWhenActive="page"><button mat-menu-item>Camisolas</button></a>
          <a a mat-list-item routerLink="/content/tunicas" routerLinkActive="active" ariaCurrentWhenActive="page"> <button mat-menu-item>Túnicas</button></a>
          <a a mat-list-item routerLink="/content/vestidos" routerLinkActive="active" ariaCurrentWhenActive="page"><button mat-menu-item>Vestidos</button></a>
          <a a mat-list-item routerLink="/content/soleros" routerLinkActive="active" ariaCurrentWhenActive="page"><button mat-menu-item>Soleros</button></a>
            <a a mat-list-item routerLink="/content/palazos" routerLinkActive="active" ariaCurrentWhenActive="page"><button mat-menu-item>Palazos</button></a>
            <a a mat-list-item routerLink="/content/babuchas" routerLinkActive="active" ariaCurrentWhenActive="page"><button mat-menu-item>Babuchas</button></a>
            <a a mat-list-item routerLink="/content/leggings" routerLinkActive="active" ariaCurrentWhenActive="page"><button mat-menu-item>Leggings</button></a>
            <a a mat-list-item routerLink="/content/calsa" routerLinkActive="active" ariaCurrentWhenActive="page"><button mat-menu-item>Calsa</button></a>
            <a a mat-list-item routerLink="/content/shorts" routerLinkActive="active" ariaCurrentWhenActive="page"><button mat-menu-item>Shorts</button></a>
            <a a mat-list-item routerLink="/content/bermudas" routerLinkActive="active" ariaCurrentWhenActive="page"><button mat-menu-item>Bermudas</button></a>
            <a a mat-list-item routerLink="/content/polleras" routerLinkActive="active" ariaCurrentWhenActive="page"><button mat-menu-item>Polleras</button></a>
            <a a mat-list-item routerLink="/content/faldas" routerLinkActive="active" ariaCurrentWhenActive="page"><button mat-menu-item>Faldas</button></a>
          </mat-menu>
          <mat-menu #accesorios="matMenu">
            <a a mat-list-item routerLink="/content/pareos" routerLinkActive="active" ariaCurrentWhenActive="page"><button mat-menu-item >Pareo</button></a>
            <a a mat-list-item routerLink="/content/pañuelos" routerLinkActive="active" ariaCurrentWhenActive="page"><button mat-menu-item >Pañuelos</button></a>
            <a a mat-list-item routerLink="/content/pashminas" routerLinkActive="active" ariaCurrentWhenActive="page"><button mat-menu-item >Pashminas</button></a>
            <a a mat-list-item routerLink="/content/sombreros" routerLinkActive="active" ariaCurrentWhenActive="page"><button mat-menu-item >Sombreros</button></a>
            <a a mat-list-item routerLink="/content/capelinas" routerLinkActive="active" ariaCurrentWhenActive="page"><button mat-menu-item >Capelinas</button></a>
            <a a mat-list-item routerLink="/content/ruanas" routerLinkActive="active" ariaCurrentWhenActive="page"><button mat-menu-item >Ruanas</button></a>
            <a a mat-list-item routerLink="/content/mantones" routerLinkActive="active" ariaCurrentWhenActive="page"><button mat-menu-item >Mantones</button></a>
            <a a mat-list-item routerLink="/content/bufandas" routerLinkActive="active" ariaCurrentWhenActive="page"><button mat-menu-item >Bufandas</button></a>
            <a a mat-list-item routerLink="/content/cuellos" routerLinkActive="active" ariaCurrentWhenActive="page"><button mat-menu-item >Cuellos</button></a>
            <a a mat-list-item routerLink="/content/japamalas indias" routerLinkActive="active" ariaCurrentWhenActive="page"><button mat-menu-item >Japamalas Indias</button></a>
            <a a mat-list-item routerLink="/content/collares" routerLinkActive="active" ariaCurrentWhenActive="page"><button mat-menu-item >Collares</button></a>
            <a a mat-list-item routerLink="/content/sobres" routerLinkActive="active" ariaCurrentWhenActive="page"><button mat-menu-item >Sobres</button></a>
            <a a mat-list-item routerLink="/content/monederos pakistan" routerLinkActive="active" ariaCurrentWhenActive="page"><button mat-menu-item >Monederos Pakistan</button></a>
            <a a mat-list-item routerLink="/content/carteras" routerLinkActive="active" ariaCurrentWhenActive="page"><button mat-menu-item >Carteras</button></a>
            <a a mat-list-item routerLink="/content/bolsos" routerLinkActive="active" ariaCurrentWhenActive="page"><button mat-menu-item >Bolsos</button></a>
          </mat-menu>
          <mat-menu #sahumerios="matMenu">
            <a a mat-list-item routerLink="/content/satya" routerLinkActive="active" ariaCurrentWhenActive="page"><button mat-menu-item >Satya</button></a>
            <a a mat-list-item routerLink="/content/goloka" routerLinkActive="active" ariaCurrentWhenActive="page"><button mat-menu-item >Goloka</button></a>
            <a a mat-list-item routerLink="/content/namaste" routerLinkActive="active" ariaCurrentWhenActive="page"><button mat-menu-item >Namaste</button></a>
            <a a mat-list-item routerLink="/content/thales" routerLinkActive="active" ariaCurrentWhenActive="page"><button mat-menu-item >Thales</button></a>
            <a a mat-list-item routerLink="/content/mistic spirits" routerLinkActive="active" ariaCurrentWhenActive="page"><button mat-menu-item >Mistic Spirits</button></a>
            <a a mat-list-item routerLink="/content/sagrada madre" routerLinkActive="active" ariaCurrentWhenActive="page"><button mat-menu-item >Sagrada Madre</button></a>
          </mat-menu>
          <mat-menu #decoracion="matMenu">
            <a a mat-list-item routerLink="/content/manta" routerLinkActive="active" ariaCurrentWhenActive="page"><button mat-menu-item >Manta</button></a>
            <a a mat-list-item routerLink="/content/corazon individual" routerLinkActive="active" ariaCurrentWhenActive="page"><button mat-menu-item >Corazón individual</button></a>
            <a a mat-list-item routerLink="/content/corazon doble" routerLinkActive="active" ariaCurrentWhenActive="page"><button mat-menu-item >Corazón doble</button></a>
            <a a mat-list-item routerLink="/content/corazon triple" routerLinkActive="active" ariaCurrentWhenActive="page"><button mat-menu-item >Corazón triple</button></a>
            <a a mat-list-item routerLink="/content/tira colgante india" routerLinkActive="active" ariaCurrentWhenActive="page"><button mat-menu-item >Tira colgante India</button></a>
          </mat-menu>
          <a mat-list-item routerLink="/somos" routerLinkActive="active" ariaCurrentWhenActive="page" style="cursor: pointer;"><button mat-button >¿Quiénes somos?</button></a>
          <a mat-list-item routerLink="/contacto" routerLinkActive="active" ariaCurrentWhenActive="page" style="cursor: pointer;"><button mat-button >Contacto</button></a>
        </div>
        <button mat-icon-button (click)="sidenav.toggle()" class="boton-side">
          <mat-icon>reorder</mat-icon>
        </button>

          <mat-icon mat-list-item routerLink="/carrito" routerLinkActive="active" ariaCurrentWhenActive="page" matBadge="{{valorBadge}}" class="link-carrito">shopping_cart</mat-icon>
      </div>
    </mat-toolbar>

    <!-- Contenido principal de la página -->
    
  </mat-sidenav-content>
</mat-sidenav-container>

<router-outlet></router-outlet>