<div class="productos-en-carrito">
    <h1 style="margin-left: 20px;">Mi carrito</h1>
    <mat-divider></mat-divider>
    <mat-card class="example-card" appearance="outlined"  *ngFor="let producto of carrito">
      <img mat-card-image src={{producto.imagen}} alt={{producto.nombre}}>
      <mat-card-content>
          <div class="datos-productos">
            <div class="container-h1-h2">
                <h1 class="titulo-grande">{{producto.nombre}}</h1>
                <h2 class="titulo-chico" *ngIf="precioTarjetas === true">${{producto.oferta > 0 ? producto.precio_oferta : producto.precio}}</h2> 
                <h2 class="titulo-chico" *ngIf="precioTransferencia === true">${{producto.oferta > 0 ? producto.precio_oferta : producto.precioTransferencia}}</h2> 
                <h2 class="titulo-chico" *ngIf="precioEfectivo === true">${{producto.oferta > 0 ? producto.precio_oferta : producto.precioEfectivo}}</h2> 
              <!--<p>{{producto.descripcion}}</p>-->
              </div>
              <div class="contenedor-botones-suma-resta">
                <p>cant: {{producto.cantidad}}</p>
            </div>   
          </div>
      </mat-card-content>
  </mat-card>

  <h2 style="text-align: start; margin-left: 12px;">Subtotal: ${{subtotalVerdadero}}</h2>
  <mat-divider></mat-divider>
  <h2 style="text-align: start; margin-left: 12px;">Envío: ${{envioPrecio}} </h2>
  <mat-divider></mat-divider>
  <h2 style="text-align: start; margin-left: 12px;">Total: ${{precioTotal}} </h2>
  </div>
