.productos-en-carrito{
    height: auto;
    width: auto;
}

.example-card{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

img{
    width: 80px;
    height: 80px;
  }

h1{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    margin: 0px 0px 0px 0px;
}

  h2{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    margin: 0px 0px 0px 0px;
  }

  p{
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    margin: 0px 0px 0px 0px;
  }
