<div class="content">
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Nombre completo</mat-label>
      <input type="string" matInput [formControl]="nombreFormControl" placeholder="">
      @if (nombreFormControl.hasError('nombre') && !nombreFormControl.hasError('required')) {
        <mat-error>Please enter a valid email address</mat-error>
      }
      @if (nombreFormControl.hasError('required')) {
        <mat-error>Nombre completo <strong> es requerido</strong></mat-error>
      }
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input type="email" matInput [formControl]="emailFormControl" placeholder="Ej: pat@example.com">
      @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
        <mat-error>Please enter a valid email address</mat-error>
      }
      @if (emailFormControl.hasError('required')) {
        <mat-error>Email is <strong> es requerido</strong></mat-error>
      }
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Nro Teléfono</mat-label>
      <input type="tel" matInput [formControl]="phoneNumberFormControl" placeholder="Ej: 3421234567">
      @if (phoneNumberFormControl.hasError('required')) {
        <mat-error>Nro Teléfono <strong>es requerido</strong></mat-error>
      }
      @if (phoneNumberFormControl.hasError('invalidPhone')) {
        <mat-error>Por favor, ingrese un número de teléfono válido.</mat-error>
      }
    </mat-form-field>

    <!-- Campo de Provincia -->
<mat-form-field class="example-full-width">
  <mat-label>Provincia</mat-label>
  <mat-select [formControl]="provinciaFormControl" (selectionChange)="cargarCiudades($event.value)">
    <mat-option *ngFor="let provincia of provincias" [value]="provincia">
      {{ provincia }}
    </mat-option>
  </mat-select>
  @if (provinciaFormControl.hasError('required')) {
    <mat-error>Provincia <strong>es requerida</strong></mat-error>
  }
</mat-form-field>

<!-- Campo de Ciudad -->
<mat-form-field class="example-full-width">
  <mat-label>Ciudad</mat-label>
  <mat-select [formControl]="ciudadFormControl">
    <mat-option *ngFor="let ciudad of ciudades" [value]="ciudad">
      {{ ciudad }}
    </mat-option>
  </mat-select>
  @if (ciudadFormControl.hasError('required')) {
    <mat-error>Ciudad <strong>es requerida</strong></mat-error>
  }
</mat-form-field>

<!-- Campo de Código Postal -->
<mat-form-field class="example-full-width">
  <mat-label>Código Postal</mat-label>
  <input type="number" matInput [formControl]="postalFormControl" placeholder="3000">
  @if (postalFormControl.hasError('required')) {
    <mat-error>Código Postal <strong>es requerido</strong></mat-error>
  }
  @if (postalFormControl.hasError('pattern')) {
    <mat-error>El código postal debe tener 4 dígitos.</mat-error>
  }
</mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Dirección</mat-label>
      <input type="string" matInput [formControl]="direccionFormControl" placeholder="">
      @if (direccionFormControl.hasError('Nro Telefono') && !direccionFormControl.hasError('required')) {
        <mat-error>Please enter a valid email address</mat-error>
      }
      @if (direccionFormControl.hasError('required')) {
        <mat-error>Dirección<strong> es requerido</strong></mat-error>
      }
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Interno/Depto nro (opcional)</mat-label>
      <input matInput placeholder="Ej: Interno 4 / Dpto 8 ">
    </mat-form-field>

  </form>
      
</div>
