<div class="content">
    <div class="container-parrafo">
        <h1>Quienes somos</h1>
        <p>Somos un pequeño comercio santafesino que nació en el 2012 con muchas ganas, entusiasmo y amor.</p>
        <p>Luego de 12 años con local físico al público, estamos migrando en este momento a una tienda nube y una venta directa a través de un punto específico (lo conocido como showroom).</p>
        <p>Lo que realmente nos interesa es vender ropa cómoda, suelta, que el talle no importe, que puedan usarla todas las mujeres sin importar la edad.</p>
        <p>Durante gran parte del año vendemos ropa importada, traída de India, Tailandia, Pakistán, hindú principalmente. Durante el invierno que no conseguimos de esa ropa, le buscamos la vuelta para seguir sosteniendo la calidad, l onda, buenas texturas, fibras, colores. Diseño, comodidad, calidad y buenos precios, es nuestro lema.</p>
        <p>Nos gusta mucho ademas de los colores y la ropa, la música y la poesia! Los mates, los abrazos, las conversaciones amorosas, conocer al cliente, sentirlo cerca. Por eso agradecemos que estén leyendo esto y apoyen a este pequeño proyecto unipersonal.</p>
        <p>Soy Mariana, dueña de Colombina, pero tengo muchas personas y amores apoyando a mi alrededor! Gracias Mabel, Coqui, Violeta, Alvarito, Luci, Carito. Y gracias a ustedes principalmente por elegirnos.</p>
    </div>
</div>
<app-footer></app-footer>


<router-outlet></router-outlet>