.content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    //--opacidad-negro: 0.2;
    //background-image: linear-gradient(rgba(0, 0, 0, var(--opacidad-negro)), rgba(0, 0, 0, var(--opacidad-negro)));
    --opacidad-rojo: 0.9;
    //background-image: linear-gradient(rgba(246, 74, 52, var(--opacidad-rojo)), rgba(246, 74, 52, var(--opacidad-rojo)));
    background-image:linear-gradient(rgb(243 234 233 / 70%), rgb(163 50 35 / 70%));
    min-height: 100vh;
}


.content div{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenedor-info{
    width: 95% !important;
    display: flex;
    flex-direction: column;
    text-align: start;    
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
    background-image: linear-gradient(rgb(255 255 255 / 40%), rgb(255 255 255 / 40%));
    border-top-right-radius: 20px ;
    border-top-left-radius: 20px ;
    height: auto;
}

.mat-divider{
  display: block;
  width: 90%;
  margin: 0;
  border-top-style: solid;
  border-top-color:rgb(18 18 18 / 53%);
  border-top-width: var(--mat-divider-width);
}

.contenedor-info div{
  display: flex;
  width: 100%;
  flex-direction: row;
}

img{
    //margin-top: 10px;
    width: 100%;
    //height: 215px;
  }

  a{
    text-decoration: none;
    color: black;
  }

  h1{
    margin: 0;
    height: 30px;
    margin-left: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 29px;
    font-style: normal;
    height: auto;
  }

  h2{
    font-size: 25px;
    margin: 0;
    height: 30px;
    margin-left: 20px;
    height: auto;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
  }



  p{
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    margin: 0;
    font-size: 20px;
    text-align: left;
    margin-left: 20px
  }

  .boton-carrito{
    justify-content: end;
    align-items: center;
    margin-right: 22px;
  }

  .boton-carrito-desabilitado{
    justify-content: end;
    align-items: center;
    margin-right: 22px;
    opacity: 0.5;
    cursor: not-allowed;
  }

  .boton-carrito mat-icon{
    border: 1px solid black;
    border-radius: 10%;
    width: 65px;
    height: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1dcb1d;
    //margin-top: 20px;
  }

  .boton-carrito-desabilitado mat-icon{
    border: 1px solid black;
    border-radius: 10%;
    width: 65px;
    height: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1dcb1d;
    //margin-top: 20px;
  }

  mat-icon{
    cursor: pointer;
  }

  .todos-precios-envio{
    margin: 10px 0px 10px 0px;
    display: flex;
    flex-direction: column !important;
    width: 100%;
  }

  .todos-precios-envio p{
    font-size: 14px;
  }

.divider-container{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.contenedor-descripcion{
  gap: 10px;
  height: 34px;
}

.contenedor-descripcion mat-icon{
  line-height: 25px;
}

.tarjetas{
  width: 100%;
  text-align: start;
}



@media (min-width: 375px){
  .contenedor-descripcion{
    height: 34px;
  }
}


@media (min-width: 768px){

  img{
    width: 38%;
    margin-top: 10px
  }

  .content{
    justify-content: center;
  }

  .segundo-content {
    flex-direction: row !important;
    justify-content: center;
    width: 100%;
    height: 100vh;
    gap: 20px;
  }

  .contenedor-info{
    width: 45% !important;
  }

} 

@media (min-width: 1024px){
  .contenedor-info{
    // height: 420px;
    width: 30% !important;
  }

  img{
    width: 27%;
  }

}