@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&display=swap');

.content{
    width: 100%;
    min-height: 100vh;
    background-image:linear-gradient(rgb(243 234 233 / 70%), rgb(163 50 35 / 70%));
}

.imagen{
    width: 100%;
    min-height: 100vh;
    background-image: url(/colombina.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container-header{
    width: 100%;
    min-height: 100vh;
    background-image:linear-gradient((rgb(55 48 47 / 70%)), rgb(55 48 47 / 70%));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.container-header h1{
    animation: slideIn 1s ease-in-out;
}

.container-header p{
    animation: slideIn 1s ease-in-out;
}

.container-header button{
    animation: slideIn 1s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideIn {
    from { transform: translateY(20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

h1{
    margin: 0px;
    color: white;
    text-align: center;
    font-family: "Charm", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 60px
}

.descripcion{
    font-family: "DM Serif Text", serif;
    margin: 0;
    font-size: 25px;
    color: white;
    text-align: center;
    padding: 0px 5px 0px 5px;
}

button{
    width: 150px;
    height: auto;
    font-family: "DM Serif Text", serif;
    font-size: 25px;
    color: white;
    text-align: center;
    background-color: #F64A34;
    border-radius: 10px;
    border: 0px;
    cursor: pointer;
}

@media(min-width: 768px){

    .imagen{
        background-size: 100% 100vh;
        background-image: url(/colombina2.jpg);
    }

    .container-header p {
        width: 500px;
    }

}

@media(min-width: 1024px){

}