<div class="content">
    <div class="imagen">
        <div class="container-header">
            <h1>Colombina</h1>
            <p class="descripcion">Un Almacén de ropa distinta, amorosamente elegida para mujeres reales sin importar la edad, desde los 15 años y para toda la vida.</p>
            <a mat-list-item routerLink="/productos/ofertas" routerLinkActive="active" ariaCurrentWhenActive="page"><button style="margin-top: 10px;">Ver más</button></a>
        </div>
    </div>
</div>
<app-footer></app-footer>
